*~
build/
bin/
auto/
CMakeFiles/
*/CMakeFiles/*
CMakeCache.txt
*.*~
CMakeDoxyfile.in

*.d
*.o
*.a

enkiMinimal
enkiplayground_autogen
enkiplayground
pyenki.so

CTestCostData.txt
LastTest.log
LastTestFailed.log
testGeometry

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts

CMakeDoxygenDefaults.cmake
Doxyfile
enkiConfig.cmake

Testing/Temporary/LastTestsFailed.log
viewer/enkiviewer_autogen/moc_predefs.h
viewer/enkiviewer_autogen/mocs_compilation.cpp
viewer/enkiviewer_autogen/EWIEGA46WW/moc_Viewer.cpp
viewer/enkiviewer_autogen/EWIEGA46WW/qrc_enki-viewer-textures.cpp
